body {
	/*background: green;*/
	font-family: -apple-system, BlnkMacSystemFont, Segoe UI, Roboto, Oxygen-Sans, Ubuntu, Cantarell, Helvetica Neue, sans-serif;
}

ul { padding: 0; }

li { list-style: none; }

a { 
	text-decoration: none;
	color: #d0021b;
}

.container {
	max-width: 1200px;
	margin: 0 auto;
}

.github-logo {
	margin: 0 auto;
}

.github-logo img {
	width: 180px;	
}

.languagues {
	display: flex;
	justify-content: center;
}

.languagues li {
	margin: 10px;
	font-weight: bold;
	cursor: pointer;
}

.popular-list {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}

.popular-item {
	margin: 20px;
	text-align: center;
}

.space-list-items {
	margin-bottom: 7px;
}

.avatar {
	width: 150px;
	border-radius: 50%;
}

.popular-rank {
	margin: 10px;
	font-size: 20px;
}

.nav {
	display: flex;
}

.nav li {
	margin-right: 15px;
}

.active {
	font-weight: bold;
}

.home-container {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.button {
	color: #e6e6e6;
	border: none;
	font-size: 16px;
	border-radius: 3px;
	width: 200px;
	text-align: center;
	display: block;
	padding: 15px 0;
	margin: 10px auto;
	background: #0a0a0a;
	/*background: linear-gradient(#0a0a0a, #0a0a0a);*/
	-webkit-transition: background .2s ease-in-out;
	transition: background .2s ease-in-out;
}

.button:hover:enabled {
	color: #fff;
	/*background: linear-gradient(#0a0a0a, #3C3C3C);*/
	background: #3C3C3C;
	text-decoration: none;
}

.button:active {
 	transform: translateY(1px);
}